body{
    background-color: brown;
    color: antiquewhite;
}
h1{
    text-align: center;
    color: black;
}
p{
    text-align: center;
    
    color: aquamarine;
}
h2{
    color: aliceblue;
    text-align: center;
}